/* navbar */
.nav-left {
    flex: 1;
}

.nav-right {
    flex: 1;
    justify-content: flex-end;
}

.navbar {
    background: linear-gradient(to right, #C59D3E 0%, #F2ECE0 30%, #F2ECE0 75%, #C59D3E 100%);
}

/* footer */

.footer-section {
    background: linear-gradient(to right, #f3d37b 38%, #e4bd64 88%);
    margin-bottom: 0 !important;
    padding-bottom: 0;
}

/* for footer to be in very bottom */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}