/* navbar */
.nav-left {
    flex: 1;
}

.nav-right {
    flex: 1;
    justify-content: flex-end;
}

.navbar {
    background: linear-gradient(to right, #f1d38b 0%, #F2ECE0 30%, #F2ECE0 75%, #f1d38b 100%);
}

/* footer */

.footer-section {
    background: linear-gradient(to right, #f3d37b 38%, #e4bd64 88%);
    margin-bottom: 0 !important;
    padding-bottom: 0;
}

/* for footer to be in very bottom */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* font */
body {
    font-family: 'Source Sans 3', sans-serif;
}

/* SERVICES PAGE */

.services-box {
    background: rgba(255, 248, 220, 0.8);
    border-radius: 15px;
}

.services-box li {
    padding: 10px 0;
    font-size: 18px;
    transition: 0.3s;
}

.services-box li:hover {
    color: #b68d40;
    transform: translateX(8px);
}

.icon {
    margin-right: 8px;
    color: rgba(182, 141, 64, 0.9);
}

.gallery-img {
    cursor: pointer;
    transition: 0.4s;
}

.gallery-img:hover {
    opacity: 0.8;
    transform: scale(1.05);
}
